@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.logo {
  
}

body {
  background-color:#47455A;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}